body{background-color:#12325e;
 margin: 0;                /* Remove margens padrão */
  width: 100%;              /* Largura total */
  min-height: 100vh;       /* Altura mínima de 100% da tela */}

#mestre {
		width:900px;
		height:2400px;
		}

#menu{
	color:#ffffff;
	width:900px;
	position:fixed;
	background-color:#0a2850;}
	
#rodape{
	color:#ffffff;
	width:900px;
	height:50px;
		position:fixed;
	background-color:#0a2850;}
	
#inicio{
	color:#ffffff;
	width:900px;
	height:400px;
	background-color:#12325e;
	}		

#quemsou{
	color:#ffffff;
	margin-top:;
	width:900px;
	height:400px;
	background-color:#12325e;}

#formacao{
	color:#ffffff;
	width:900px;
	height:400px;
	background-color:#12325e;}

#experiencia{
	color:#ffffff;
	width:900px;
	height:400px;
	background-color:#12325e;}

#portfolio{
	color:#ffffff;
	width:900px;
	height:400px;
	background-color:#12325e;}

#contato{
	width:900px;
	height:400px;
	background-color:#12325e;}

a:link{
	  font-family:Arial;
	  font-size:20px;
	  color:white;
	  text-decoration:none;
	  }

a:visited{
	 	  font-family:Arial;
		  font-size:20px;
		  color:white;
		 }

a:hover{
	 	  font-family:Arial;
		  font-size:20px;
		  color:black;
		  text-decoration:none;
		  background-color:white;
		 }
	

#f{
	margin-top:0px;
	background-image: url('img/me.jpg');
	border-radius:50%;
	display : inline-block;
	width:100px;
	height:100px;
	}
